* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: spoqa;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spoqa";
  src: url("/fonts/SpoqaHanSansNeo-Thin.woff2"), format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "spoqa";
  src: url("/fonts/SpoqaHanSansNeo-Light.woff2"), format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "spoqa";
  src: url("/fonts/SpoqaHanSansNeo-Regular.woff2"), format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "spoqa";
  src: url("/fonts/SpoqaHanSansNeo-Medium.woff2"), format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "spoca";
  src: url("/fonts/SpoqaHanSansNeo-Bold.woff2"), format("woff2");
  font-weight: 700;
  font-style: normal;
}
